.comment-text {
  text-align: left;
  padding: 2px;
  margin-left: 8px;
}
.comment {
  font-size: 16px;
}
.comment-form  {
  margin: 10px 0;
  width: 100%;
}
.comment-form input {
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-top: 1px solid #efefef;
  color: #999;
}
.user {
  font-size: 14px;
  /* margin-left: 5px; */
  color: black;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.how-recent {
  text-align: left;
  font-size: 10px;
  margin-left: 10px;
  margin-top: 5px;
  color: gray;
  text-transform: uppercase;
}