.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
}
.search-form {
  width: 150px;
  font-size: 14px;
}
.search-form input {
  text-align: center;
  color: #262626;
}
.image-wrapper {
  height: 50px;
  display: flex;
  align-items: center;
}


.logo-image {
  height: 60%;
  max-width: 100%;
}

.social-wrapper {
  display: flex;
}

.social {
  width: 50px;
}

.fa {
  font-size: 2rem;
}

.fa-instagram {
  height: 80%;
  border-right: 1px solid gray;
  margin-right: 10px;
  padding-right: 10px;
}
